 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <i class=""></i>
      <p>Design tools used to build application and website interfaces</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Programming languages ​​I've worked with and I find it interesting to highlight</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <p>Some of the Tools and IDEs I've worked with and particularly like</p>
    </div>
</div>
