<div class="user-details">
  <h1> Pessoal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Spotify Clone </h3>
    <ul>
      <li>Featured Skills</li>
      <li>HTML 5</li>
      <li>CSS 3</li>
      <li>Bootstrap</li>
    </ul>
    <p>This small project is not for profit, the same was done for study purposes only. The page as a whole was based on Spotify and has all rights to the images present.</p>
    <a class="project-link" href="../projects/spotify/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
