<div class="user-details">
  <h1> Pessoal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Spotify Clone </h3>
    <ul>
      <li>Featured Skills</li>
      <li>HTML 5</li>
      <li>CSS 3</li>
      <li>Bootstrap</li>
    </ul>
    <p>This small project is not for profit, the same was done for study purposes only. The page as a whole was based on Spotify and has all rights to the images present.</p>
    <a class="project-link" href="../projects/spotify/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project2.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Finans </h3>
    <ul>
      <li> Featured Skills</li>
      <li> HTML 5</li>
      <li> CSS 3</li>
      <li> Bootstrap</li>
    </ul>
    <p>A simple website for a fictional accounting firm.</p>
    <a class="project-link" href="../projects/finans/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project3.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Twitter clone </h3>
    <ul>
      <li> Featured Skills</li>
      <li> HTML 5</li>
      <li> CSS 3</li>
      <li> PHP</li>
      <li> MySQL</li>
    </ul>
    <p>Basic Twitter clone Developed with MVC architecture.</p>
    <a class="project-link" href="https://github.com/iamageo/twitter_clone">View Code on Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project4.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Enem app </h3>
    <ul>
      <li> Featured Skills</li>
      <li> Java</li>
      <li> Adobe XD</li>
      <li> MySQL</li>
    </ul>
    <p>A simple but very functional application, designed to calculate ENEM averages</p>
    <a class="project-link" href="../projects/app1/index.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project5.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Validação de Formulário com JS </h3>
    <ul>
      <li> Featured Skills</li>
      <li> HTML 5</li>
      <li> CSS 3</li>
      <li> JavaScript </li>
    </ul>
    <p>A simple login page with javascript validation. </p>
    <a class="project-link" href="../projects/validaform/index.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project6.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Google UI </h3>
    <ul>
      <li> Featured Skills</li>
      <li> HTML 5</li>
      <li> CSS 3</li>
    </ul>
    <p>google search home page made for study purposes</p>
    <div class="row">
      <a class="project-link" href="https://github.com/iamageo/clone_google_ui">View Code on Github</a>
    </div>
  </div>
</div>






